* {
    box-sizing: border-box;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "SofiaRegular";
    src: url("../fonts/SofiaProRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Write";
    src: url("../fonts/BeautyDemo.ttf") format("truetype");
}

body {
  background-color: #f1e7da;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 40em;
  background-color: white;
}

nav a {
  color: black;
  font-family: SofiaRegular;
  font-size: 1.1em;
  text-decoration: none;
}

body section:first-of-type {
  display: flex;
}

body section:first-of-type div:nth-of-type(2) {
  width: 50%;
  height: 100vh;
  background-color: #aaa296;
}

body section:first-of-type img {
  position: absolute;
  width: 35%;
  height: 70vh;
  top: 20%;
  left: 7%;
  object-fit: cover;
  margin-left: 50%;
}

h1 {
  font-family: SofiaRegular;
  font-size: 8em;
  color: #114351;
  transform: rotate(90deg);
  position: fixed;
  margin: 3em 36%;
}

body section:first-of-type div:nth-of-type(1) {
  width: 50%;
  height: 100vh;
  padding: 40vh 10em;
  font-family: SofiaRegular;
}














#carousel {
  overflow-x: hidden;
  width: 60em;
  background-color: #114351;
  margin-top: 10%;
  width: 58%;
}

#carousel div:nth-of-type(1) {
  display: flex;
  width: 500em;
}

picture {
  width: 40em;
  height: 40em;
  object-fit: cover;
  overflow: hidden;
  margin: 5em 10em 2em;
  display: flex;
  justify-content: center;
  border: 1em white solid;
}

picture:nth-of-type(1) img, picture:nth-of-type(2) img {
  height: 40em;
  object-fit: cover;
}

picture:nth-of-type(3) img {
  width: 40em;
  object-fit: cover;
}

.positionPic1 {
  transform: translateX(0em);
  animation-name: animationL1;
  animation-duration: 1s;
}

.positionPic2 {
  transform: translateX(-60em);
  animation-name: animationL2;
  animation-duration: 1s;
}

.positionPic3 {
  transform: translateX(-120em);
  animation-name: animationL3;
  animation-duration: 1s;
}

@keyframes animationL1 {
  0% {
    transform: translateX(-120em);
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes animationL2 {
  0% {
    transform: translateX(0em)
  }

  100% {
    transform: translateX(-60em);
  }
}

@keyframes animationL3 {
  0% {
    transform: translateX(-60em)
  }

  100% {
    transform: translateX(-120em);
  }
}


.position1 {
  transform: translateX(0em);
  animation-name: animationR1;
  animation-duration: 1s;
}

.position2 {
  transform: translateX(-60em);
  animation-name: animationR2;
  animation-duration: 1s;
}

.position3 {
  transform: translateX(-120em);
  animation-name: animationR3;
  animation-duration: 1s;
}

@keyframes animationR1 {
  0% {
    transform: translateX(-60em)
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes animationR2 {
  0% {
    transform: translateX(-120em)
  }

  100% {
    transform: translateX(-60em);
  }
}

@keyframes animationR3 {
  0% {
    transform: translateX(0em)
  }

  100% {
    transform: translateX(-120em);
  }
}

.pos1 {
  transform: translateX(0em);
}

.pos2 {
  transform: translateX(-60em);
}

.pos3 {
  transform: translateX(-120em);
}

.dots {
  padding-bottom: 3em;
  text-align:center
}

.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 0.3em;
  /* background-color: #aaa296; */
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
  transform: scale(1.2);
  transition: transform 0.6s ease;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  margin-top: 118vh;
  color: white;
}

.prev:hover, .next:hover {
  background-color: rgba(241, 231, 218, 0.3);
}

.buttonActive {
  animation-name: BG;
  animation-duration: 0.2s;
}

@keyframes BG {
  100% {
    background-color: rgba(241, 231, 218, 0.4);
  }
}

.next {
  right: 81vh;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.fade2 {
  animation-name: fade2;
  animation-duration: 2s;
}

@keyframes fade2 {
  from {opacity: 0.4}
  to {opacity: 1}
}



.assortiment {
  font-family: SofiaRegular;
  font-size: 5em;
  position: absolute;
  top: 140vh;
  right: 15vh;
  color: #aaa296;
  opacity: 0;
  /* text-align: right; */
}


.tekst {
  animation-name: tekstKomt;
  animation-duration: 2s;
  opacity: 1;
}

@keyframes tekstKomt {
  0% {
    opacity: 0;
    margin-right: -6em;
  }

  100% {
    opacity: 1;
    margin-right: 0em;
  }
}


.current {
  background-color: lightblue;
  transform: scale(1.2);
}
