* {
    box-sizing: border-box;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "SofiaRegular";
    src: url("../fonts/SofiaProRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Write";
    src: url("../fonts/BeautyDemo.ttf") format("truetype");
}

body {
  background-color: #f1e7da;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 40em;
  background-color: white;
}

nav a {
  color: black;
  font-family: SofiaRegular;
  font-size: 1.1em;
  text-decoration: none;
}

body section:first-of-type {
  display: flex;
}

body section:first-of-type div:nth-of-type(2) {
  width: 50%;
  height: 100vh;
  background-color: #aaa296;
}

body section:first-of-type img {
  position: absolute;
  width: 35%;
  height: 70vh;
  top: 20%;
  left: 7%;
  object-fit: cover;
  margin-left: 50%;
}

h1 {
  font-family: SofiaRegular;
  font-size: 8em;
  color: #114351;
  transform: rotate(90deg);
  position: fixed;
  margin: 3em 36%;
}

body section:first-of-type div:nth-of-type(1) {
  width: 50%;
  height: 100vh;
  padding: 40vh 10em;
  font-family: SofiaRegular;
}














#carousel {
  overflow-x: hidden;
  width: 60em;
  background-color: #114351;
  margin-top: 10%;
}

#carousel div {
  display: flex;
  width: 500em;
}

picture {
  width: 40em;
  height: 40em;
  object-fit: cover;
  overflow: hidden;
  margin: 5em 10em;
  display: flex;
  justify-content: center;
  border: 1em white solid;
}

picture:nth-of-type(1) img, picture:nth-of-type(2) img {
  height: 40em;
  object-fit: cover;
}

picture:nth-of-type(3) img {
  width: 40em;
  object-fit: cover;
}

.positionPic1 {
  transform: translateX(0em);
  animation-name: animationpic1;
  animation-duration: 1s;
}

.positionPic2 {
  transform: translateX(-60em);
  animation-name: animationpic2;
  animation-duration: 1s;
}

.positionPic3 {
  transform: translateX(-120em);
  animation-name: animationpic3;
  animation-duration: 1s;
}

@keyframes animationpic1 {
  0% {
    transform: translateX(-120em)
  }

  100% {
    transform: translateX(0em);
  }
}

@keyframes animationpic2 {
  0% {
    transform: translateX(0em)
  }

  100% {
    transform: translateX(-60em);
  }
}

@keyframes animationpic3 {
  0% {
    transform: translateX(-60em)
  }

  100% {
    transform: translateX(-120em);
  }
}

.dots {
  padding-bottom: 2em;
  text-align:center
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  margin-top: 120vh;
  color: white;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.next {
  right: 83vh;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}
