*{
  box-sizing: border-box;
  }

  @font-face {
      font-family: "SofiaRegular";
      src: url("../fonts/SofiaProRegular.ttf") format("truetype");
  }

  @font-face {
      font-family: "Write";
      src: url("../fonts/BeautyDemo.ttf") format("truetype");
  }


body{
    background: #eee;
    font-family: SofiaRegular;
    margin: 0em;
}


nav {
  position: fixed;
  width: 100%;
  margin: 0em;
  padding: 0.5em;
  background-color: darkred;
}

nav button {
  border-radius: 10em;
  width: 3em;
  height: 3em;
}

nav button:hover {
  background-color: orange;
}

.navSelected {
  background-color: orange;
  color: white;
  font-weight: bold;
}

main {
  background: white;
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  box-shadow: 0.5em 1em 0.5em -0.5em #777;
}

main section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

main section article{
  width: 90vh;
  margin: 2em;
  background-color: lightgrey;
  padding: 0.5em;
}

.loader{
  background: lightgreen;
}
.hide{
  display: none;
}
.show{
  display: block;
}




article > section img {
  width: 90vh;
  height: 25em;
  border-radius: 1em;
  object-fit: cover;
}

article > p {
  margin-top: 0em;
}

.none {
  display: none;
}
